.game img {
  height: 80px;
  width: 90px;
}

.game .buttongroups button {
  border: none;
  background-color: transparent;
}

.game .indicator {
  background-color:rgb(43, 245, 21) ;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: 1s;
}

.game .off {
  background-color:rgb(239, 43, 13) ;
}

.game .result-score {
  background-color: rgb(206, 241, 247);
  border-radius: 6px;
  height: 30px;
}

.game .info {
  display: flex;
  align-items: center;
}

.game .computerscore, .game .playerscore{
  font-size: larger;
  font-weight: bold;
}

.game #divider {
  width: 100%;
  border-style: dashed;
}

.game .computer button{
  opacity: 0.4;
  cursor: not-allowed;
}

.game .player button {
  opacity: 0.7;
  cursor: pointer;
}

.game .computer button, .game .player button {
  transition: 1.05s;
}

.game .press {
  transform: scale(0.7);
  background-color: rgb(163, 234, 246);
}