.games img {
  height: 80px;
  width: 90px;
}

.games .buttongroups button {
  border: none;
  background-color: transparent;
}

.games .indicator {
  background-color:rgb(43, 245, 21) ;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: 1s;
}

.games .off {
  background-color:rgb(239, 43, 13) ;
}

.games .result-score {
  background-color: rgb(206, 241, 247);
  border-radius: 6px;
  height: 30px;
}

.games .info {
  display: flex;
  align-items: center;
}

.games .computerscore, .games .playerscore{
  font-size: larger;
  font-weight: bold;
}

.games #divider {
  width: 100%;
  border-style: dashed;
}

.games .computer button{
  opacity: 0.4;
  cursor: not-allowed;
}

.games .player button {
  opacity: 0.7;
  cursor: pointer;
}

.games .computer button, .games .player button {
  transition: 0.3s;
}

.games .press {
  transform: scale(0.7);
  background-color: rgb(163, 234, 246);
}