.users .sidebar {
  justify-content: flex-start;
  padding-top: 100px;
  gap: 80px;
}

.users .leader-board {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  opacity: .76;
  margin-bottom: 20px;
}

.users .content {
  justify-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
}

.users .sidebar .logo, .users .sidebar .leader-board {
  opacity: .76;
  color: #FAFAFA;
}

.users .leader-board th, .users .leader-board td {
  text-align: center;
}

.users table {
  font-size: 12px;
}

.users table .head {
  padding-bottom: 10px;
}

.users table .entries {
  padding-bottom: 5px;
}

.users .name-and-exit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.users .name-and-exit .name {
  color: #334E68
}

.users .name-and-exit .signout a {
  color: #9EA7C0;
  text-decoration: none;
  font-size: 12px;
}

.users .stats td {
  padding-bottom: 8px;
  padding-right: 8px;
}

.users .stats {
  box-shadow: 0 0 6px 3px rgba(0,0,0,.25);
  padding: 40px 25px 30px 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}

.users .stats table {
  font-size: 18px;
}

.users .stats table .stat-labels {
  opacity: .35;
}

.users .launch-button a {
  padding: 8px 14px;
  text-decoration: none;
  background-color: #240754;
  color: #FAFAFA;
  border-radius: 30px;
}

@media  (max-width:850px) {
  .users .sidebar {
    flex-direction: column-reverse;
    flex: 1;
    padding-top: 10px;
  }

  .users .footer {
    display: none;
  }
}

@media (min-width:851px) {
  .users .content {
    padding-top: 100px;
  }
}

@media (max-width:600px) {
  .users .content {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}